doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
